<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Question</title>
</head>

<body>

<h1>Add Quiz Question</h1>

<form th:action="@{/save-question}"
      th:object="${question}"
      method="post">

    <input type="text"
           th:field="*{questionText}"
           placeholder="Question">

    <br><br>

    <input type="text"
           th:field="*{optionA}"
           placeholder="Option A">

    <br><br>

    <input type="text"
           th:field="*{optionB}"
           placeholder="Option B">

    <br><br>

    <input type="text"
           th:field="*{optionC}"
           placeholder="Option C">

    <br><br>

    <input type="text"
           th:field="*{optionD}"
           placeholder="Option D">

    <br><br>

    <input type="text"
           th:field="*{correctAnswer}"
           placeholder="Correct Answer">

    <br><br>

    <button type="submit">
        Save Question
    </button>

</form>

</body>
</html>