<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand"
           href="/">
            Online Quiz
        </a>

        <div>

            <a class="btn btn-outline-light me-2"
               href="/add-question">
                Add Question
            </a>

            <a class="btn btn-outline-light me-2"
               href="/questions">
                Questions
            </a>

            <a class="btn btn-success"
               href="/start-quiz">
                Start Quiz
            </a>

        </div>

    </div>

</nav>